
.container-fluid{
  margin-top: 40px;
  padding: 20px;
}

input,label{
  padding: 10px 0;
}

input{
  padding-left: 15px;
   padding-right: 15px;
}

.dados:nth-child(3){
  text-align: center!important;
  vertical-align: middle!important;
}